<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pro.dao.ProductDao">
  	<update id="update">
  		update products set quantity=#{r1} where productId=#{r2} 
  	</update>
  </mapper>